.work-with-container {
    padding: 30px 0;
    box-shadow: 0 4px 2px -2px #bebebe;
}

.prev {
    height: 30px;
    width: 30px;
    background: url('./../../resources/icons/next.svg') no-repeat center center;
    transform: rotate(180deg);
    cursor: pointer;
}

.next {
    height: 30px;
    width: 30px;
    background: url('./../../resources/icons/next.svg') no-repeat center center;
    cursor: pointer;
}

.company {
    height: 70px;
    width: auto;
    margin: 20px;
}

.chicco {
    background: url('./../../resources/work-with/chicco_logo.png') no-repeat;
    background-size: contain;
}

.eldorado {
    background: url('./../../resources/work-with/eldor.png') no-repeat;
    background-size: contain;
}

.disla {
    background: url('./../../resources/work-with/usaid.png') no-repeat;
    background-size: contain;
}