.navbar-nav {
    width: 100%;
}

.voip-nav {
    background-color: black;
}

.voip {
    color: white;
}

.plus {
   color: #ff8b38;
}

.buy-btn {
    color: #ff8b38!important;;
}

.voip-nav-link {
    color: white!important;
    padding: .5rem .5rem .1rem .5rem;
}

.voip-nav-link:hover {
    color: #ff8b38!important;
}

.navbar-light .navbar-toggler {
    color: #ff8b38!important;
    border-color: #ff8b38!important;
}