.whe-offer-container {
    padding: 30px;
}

.trial-cont {
     color: white;
     height: 140px;
     padding-top: 10px;
     display: flex;
     flex-direction: column;
     background-color: #ff8b38;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }

.trial-header, .full-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.trial-price, .full-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 4em;
    line-height: 1em;
}

.trial-duration, .full-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.full-cont {
    color: white;
    height: 140px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: #41b0c8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ------ Header ------*/

.row-header {
    min-height: 32px;
    background-color: #f9f9fa;
    border-bottom: 1px solid transparent;
}

.cell-full-title {
    font-size: 1.2em;
}

.cell-header-trial {
    background-color: #f9c9a8;
    font-size: 1.1em;
    height: 100%;
    color: white;
}

.cell-header-full {
    background-color: #aad9e4;
    font-size: 1.1em;
    height: 100%;
    color: white;
}

/* ------ Regular ------*/

.row-regular {
    min-height: 32px;
    border-bottom: 1px solid #f9f9fa;
}

.cell-regular-title {

}

.cell-regular-trial {
    background-color: #ff8b38;
    font-size: 1.1em;
    height: 100%;
    color: white;
}

.cell-regular-full {
    background-color: #41b0c8;
    font-size: 1.1em;
    height: 100%;
    color: white;
}

/* ------ total ------*/

.row-total {
    height: 4em;
}

.cell-total-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-size: 2em;
    height: 100%;
}

.cell-total-trial {
    background-color: #ff8b38;
    font-size: 1.1em;
    height: 100%;
    color: white;
    padding: 10px;
}

.cell-total-full {
    background-color: #41b0c8;
    font-size: 1.1em;
    height: 100%;
    color: white;
    padding: 10px;
}

.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
}

.total-duration {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}