.key-points-container {
    background-color: #f5f5f5;
    padding-top: 60px;
    padding-bottom: 60px;
}

.key-points-icon-container {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid #ff8b38;
    padding: 10px 0;
}

.key-points-title {
    height: 60px;
    font-size: 0.8em;
    font-weight: bold;
}

.key-points-description {
    font-size: 0.8em;
    color: #a1a2a5;
    padding: 30px 120px 30px 0;
}

.cloud-atc {
    height: 25px;
    width: 25px;
    background: url('./../../resources/icons/cloud-atc.svg') no-repeat center center;
    background-size: contain;
}

.crm {
    height: 25px;
    width: 25px;
    background: url('./../../resources/icons/crm.svg') no-repeat center center;
    background-size: contain;
}

.hr {
    height: 25px;
    width: 25px;
    background: url('./../../resources/icons/crm.svg') no-repeat center center;
    background-size: contain;
}

.phone-call {
    height: 25px;
    width: 25px;
    background: url('./../../resources/icons/phone-call.svg') no-repeat center center;
    background-size: contain;
}